@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Responsive YouTube Embed Container */
.youtube-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 1rem; /* Added for better aesthetics */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added for depth */
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* LINE Fixed Button Styles */
.line-icon-link {
    position: fixed; /* 画面に固定 */
    bottom: 20px;    /* 画面下からの距離 */
    right: 20px;     /* 画面右からの距離 */
    z-index: 1000;   /* 他の要素の上に表示 */
    display: block;  /* リンクとして機能させるため */
    line-height: 0; /* 画像の余白をなくす */
}

.line-icon {
    width: 60px;     /* アイコンの幅 */
    height: 60px;    /* アイコンの高さ（正方形にする場合） */
    border-radius: 50%; /* もし画像を丸くしたい場合 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を付けて浮き上がらせる */
    /* その他、必要に応じてホバー効果など */
}

/* ホバー時の効果（任意） */
.line-icon-link:hover .line-icon {
    transform: scale(1.05); /* 少し拡大 */
    transition: transform 0.2s ease-in-out;
}
